


    <div class="row" style="display:flex; justify-content: center; align-items: center;">
        

        <div class="col">
          <h2 class="title_mision"><span style="color:#000">Fácil</span><span style="color:#ffc62a">car</span></h2>
            <p>Somos una compraventa en la que nos diferenciamos por la aprobación rápida y fácil en la compra de taxi por medio de Alianza, nos encontramos ubicados en Barranquilla, Cartagena, Bogotá, Medellín y Cali, contamos con vehículos tipo taxi nuevos o usados, brindando variedades en modelos y marcas</p>
        </div>
            <div class="col">
              <img src="../../../assets/img/asesor-facilcar.jpeg" class="img-mision" alt="">
            </div>
    </div>
    <div class="row mision">
        

      <div class="col">
        <img src="../../../assets/img/Mision.jpeg" class="img-mision" alt="">
       </div>
          <div class="col mision_1">
            <h2 ><span style="color:#000">Mi</span><span style="color:#ffc62a">sion</span></h2>
            <p class="title_mision">Aportar todos los recursos disponibles técnicos y tecnologícos, logisticos<br> y humanos para servir con calidad y honestidad a nuestros clientes en la <br> comercializadora automotriz</p>
        
          </div>
  </div>
  <div class="row">
        

    <div class="col vision">
      <h2 class="title_mision"><span style="color:#000">Vi</span><span style="color:#ffc62a" >sion</span></h2>
      <p class="title_mision">Ser la mejor alternativa en venta de taxis nuevos , usados y compra de cupos, tanto para el gremio transportador, empresas y personas en general. De la experiencia y reconocimiento de Clave 2000 créditos con extensión a nivel nacional para lo cual trabajamos casa dia con mayor esfuerzo.
      </p></div>
        <div class="col">
          <img src="../../../assets/img/vision-facilcar.jpeg" class="img-mision" alt="">
      
        </div>
</div>
<div class="row">
  <div class="col listado_qs">
    <ul>
      <li class="item_negro">-Taxis usados en excelente estado</li>
      <li class="item_amarillo">-Taxis nuevos con CRE</li>
      <li class="item_negro">-Fácil financiación</li>
      <li class="item_amarillo">-Taxis usados con bajo kilomentraje</li>
      <li class="item_negro">-Asesoría en procesos de chatarrización</li>
    </ul>

  </div>
  <div class="col">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="../../../assets/img/facilcar_1.png" class="d-block w-60" alt="facilcar1">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../../../assets/img/facilcar_2.png" class="d-block w-60" alt="facilcar2">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../../../assets/img/carrousel_3.jpg" class="d-block w-60" alt="facilcar2">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../../../assets/img/carrousel-4.jpg" class="d-block w-60" alt="facilcar2">
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
 <!-- <div class="imagen_about"><img src="../../../assets/img/facilcar_1.png" alt=""></div>  -->



