
<div class="about">

    <div class="row" style="display:flex; justify-content: center; align-items: center;">
        

        <div class="col">
          <h2 class="title_mision"><span style="color:#000">Fácil</span><span style="color:#ffc62a">car</span></h2>
            <p>Somos una compraventa en la que nos diferenciamos por la aprobación rápida y fácil en la compra de taxi por medio de Alianza, nos encontramos ubicados en Barranquilla, Cartagena, Bogotá, Medellín y Cali, contamos con vehículos tipo taxi nuevos o usados, brindando variedades en modelos y marcas</p>
        </div>
            <div class="col">
            </div>
    </div>
    <div class="row mision">
        

      <div class="col">
        <img src="../../../assets/img/Mision.jpeg" class="img-mision" alt="">
       </div>
          <div class="col ">
            <h2 class="title_mision"><span style="color:#000">Mi</span><span style="color:#ffc62a">sion</span></h2>
            <p>Aportar todos los recursos disponibles técnicos y tecnologícos, logisticos y humanos para servir con calidad y honestidad a nuestros clientes en la comercializadora automotriz</p>
        
          </div>
  </div>
  <div class="row">
        

    <div class="col">
      <h2 class="title_mision"><span style="color:#000">Vi</span><span style="color:#ffc62a">sion</span></h2>
      Ser la mejor alternativa en venta de taxis nuevos , usados y compra de cupos, tanto para el gremio transportador, empresas y personas en general. De la experiencia y reconocimiento de Clave 2000 créditos con extensión a nivel nacional para lo cual trabajamos casa dia con mayor esfuerzo.
     </div>
        <div class="col">
          
      
        </div>
</div>
<div class="imagen_about"><img src="../../../assets/img/facilcar_1.png" alt=""></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

