
   
   
       <!-- <div class="col city_card">
        <div *ngFor="let carro of carros?.datos" class="card" style="width: 18rem;">
           <img [src]="carro.fotosventa_ruta" alt="">
          <div class="card-body">
            <h5 class="card-title ">{{carro.ciudad_codigo}}dd</h5>
  
           
            
  
          </div>
        </div>
      </div> -->
      <div class="col city_card">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title ">Bogota</h5>
  
            
            
  
          </div>
        </div>
      </div>
      <div class="col city_card">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title ">Cali</h5>
  
           
            
  
          </div>
        </div>
      </div>
      <div class="col city_card">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title ">Cartagena</h5>
  
       
            
  
          </div>
        </div>
      </div>
      
     
