<div class="container">

 
  <div class="banner"></div> 



  <h3 class="tittle_cf">
    <span style="color: #000">Clasificados</span><span style="color: #ffc62a">destacados</span>
  </h3>
 
    <div class="row relevantes"> 
      <div class="container_home">
      
        <div class="card-group card-principal">
          <div *ngFor="let carro of carros?.datos" class="card">
            <img [src]="carro.fotosventa_ruta" class="imgcard" alt="" />
            <div class="card-body">
           
              <p class="card-text linea_nombre">{{ carro.linea_nombre }}.</p>
              
              <p class="card-text precio">${{ carro.venta_valor }}.</p>
            </div>
          </div>          
        </div>
        <a href="http://localhost:4200/busqueda" type="button">ver mas</a>
      </div>
    </div> 
    <div class="contain">
      <img src="../../../assets/img/facil_propio.jpg"  alt="publicidad" class="img_publicidad"/>
    </div>
</div>


  
