<br>

  <div class="row">
<div class="col-6">
  <div class="contactenos">
    <form>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">celular</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       
      </div>
      
      <div class="mb-3">
        <button type="submit" class="btn-form">Enviar</button>
      </div>
     
      
    </form>
  </div>
  
</div>
<div class="col redes_sociales">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
       
          <h5 class="card-ciudades">Horarios</h5>
          
          <p class="card-text">Lunes a viernes de 7:30 am a 5:00 pm
          </p>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; border-color: #ffc62a;">
        <div class="card-email">
           
          <h5 class="card-title"><i class="gg-mail"></i> Email</h5>
          
         
         
        </div>
        <div class="card-body">
         
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">EjecutivoFacilcar@.gmail.com</p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    <div class="col city_card">
      <div class="card" style="width: 18rem;">
        
          <h5 class=" card-ciudades"> <i class="gg-pin"></i>Ciudades</h5>
         
          <p class="card-text">Barranquilla</p>
          <p class="card-text">Bogota</p>
          <p class="card-text">Cali</p>
          <p class="card-text">Cartagena</p>
          <p class="card-text">Medellin</p>
          

       
          
      </div>
    </div>
  </div>
  
  <h3 class="title_redessoc">Siguenos</h3>
  <div class="row">
    <div class="col">
      <a href="https://www.facebook.com/facilcartutaxifacilyrapido" target="_blank">
        <img src="/assets/img/facebook.png" alt="" width="70px" height="70px">
      </a>
     
    </div>
    <div class="col">
      <img src="/assets/img/youtube.png" alt="" width="50px" height="50px">
    </div>
    <div class="col">
      <a href="https://wa.link/7ug82h">
        <img src="/assets/img/wsp.png" alt="" width="50px" height="50px" target="_blank">
      </a>
      
    </div>
  </div> 
</div>
   
  </div>
    
    

