<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid navb">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo_fc.svg"  class="logo-image"alt="LOGO"  />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="https://www.clave2000.com.co/"
            target="_blank"
            >Financia tu taxi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contactenos']">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['planes']">Vitrinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['busqueda']">Busqueda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">¿Quienes somos?</a>
        </li>

        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>

