/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Fontfabric-UniNeueHeavy";
    src: url("/assets/fonts/Fontfabric-UniNeueHeavy.otf");
  }

@font-face {
    font-family: "Fontfabric-UniNeueBold";
    src: url("/assets/fonts/Fontfabric-UniNeueBold.otf");
  }

.nav
{
    
    width: 100% !important;
    background-color: #ffbc2a;
    height: 82px;
}

a{
    text-decoration: none;
}

li{
    font-family: "Fontfabric-UniNeueHeavy";
    margin-left: 132px;
}

.footer{
    background-color: #C9D2D3;
    height: 100%;
    bottom: 0;
    
}

.title-footer{
    font-style: bold;
}
.sidebar{
   position:absolute; 
   margin-top:10px;
   margin-left: 2px;
   flex-direction: column;
   width: 210px;
   height: 1695px;
   border-radius: 12px;
   background-color: rgba(0, 0, 0, 0.1);
   
  
}

.btn-buscar{
    background-color: #ffc62a;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 32px;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 40px; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: #424141;
    font-family: "Fontfabric-UniNeueHeavy";
}


.select{
    width: 200px;
    
}
.name_filtro{
    margin-bottom: 12px;
}
.home{
    margin-left: 220px;
}

.img-2{
    width:300px;
    height: 200px;
    
}

.img-1{
    width:100%;
    height: 200px;
    
}


.relevantes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 12px;
    width: 700px;
    
}

.aviso{
    margin-top: 22px;
    width: 1100px;
    height: 300px;
}

.filtro-select{
    border-radius: 30px;
    width:60px;
    height: 5px;
    margin-right: 40px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.banner{
    background-image: url(".././src/assets/img/banner-facilcar.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 100% !important;
    overflow-x: hidden !important;;
    height:700px; 
   
    
}

.prueba{
    width:2600px;
    height: 2300px;

}



.btn{
    background-color: #ffc62a;
    color:#fff;
    margin-top: 300px;
    margin-left: 500px;
    justify-content: center;
    align-items: center;
   

}.btn:hover{
    background-color: #ffc62a;
    color:#fff;
    margin-top: 300px;
    margin-left: 500px;
    justify-content: center;
    align-items: center;
}
.btn-form{
    background-color: #ffc62a;
    font-weight: bold;
    border-radius: 10px;
    border-color: #fff;
    width: 150px;
    height: 40px;
    color:#fff;
    margin-top: 30px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}
.tittle_cf{
    margin-left: -32px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fontfabric-UniNeueHeavy";
    
   

}
.Quienes_somos{
    display: flex;
    justify-content: center;
    align-items: center;

}
.items{
    margin-top: 250px;
}

li{
    font-size: 20px;
    font-weight: bold;
}
.item_2{
    color: #ffc62a;

}
form{
    width: 400px;
    height: 500px;
    margin-top: 80px;
    margin-left: 60px;
   
    justify-content: center;
    align-items: center;
}
.form-group{
    margin-top: 12px;
    margin-left: 2px;
}
.contacto{
    margin-left: 220px;
}

.contactenos{
    border: solid #ffc62a;
    border-radius: 30px;
    width: 500px;
}
.redes_sociales{
    margin-top: 80px;
   
    justify-content: center;
    align-items: center;
    
}
.title_redessoc{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    margin-bottom: 19px;
}
.city_card{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    margin-top: 29px;

}
.card-ciudades{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 287px;
     height: 60px;
    background: #ffc62a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-top: 12px;
}
.filtro
{
    width:20px;

}
.logo-email{
    width: 20px;
    height: 20px;
}

.card-email{
    height: 60px;
    background: #ffc62a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-top: 12px;
}
/*Busqueda*/
.title_busqueda{
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fontfabric-UniNeueHeavy";
}
.busqueda{
    margin-left: 220px;
}
.imgcard{
    height: 300px;
    width: 100%;
}
.card-principal{
    margin-top: 16px;
    background-color: black;
   
    border-radius: 12px;
    height: auto !important;
    width: 1050px;
}
/* .card-titles{
    
    font-weight: bold;
} */
.linea_nombre{
    font-size: 22px;
    color: #000;
    font-family: "Fontfabric-UniNeueHeavy"; 
   
}

.precio{
    font-size: 18px;
    color: #424141;
    font-family: "Fontfabric-UniNeueHeavy"; 

}


/*Responsive*/

@media (max-width: 576px) { 
    .banner{
        
        
       
        width: 100%;
        height:45vh;
        
    }
    .items{
        margin-top: 50px;
    }
    
    .item_1{
        font-size: 14px;
        text-align: center;
       

    }

    .item_2{
        color: #ffc62a;
        font-size: 14px;
        text-align: center;
    
    }

    .slide{
        margin-left: 10px;
        width:270px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
          
    }
   
    
    .btn{
        background-color: #ffc62a;
        color:#fff;
        margin-top: 30px;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    
    }.btn:hover{
        background-color: #ffc62a;
        color:#fff;
        margin-top: 10px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .btn-form{
        background-color: #ffc62a;
        color:#fff;
        margin-top: 30px;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        font-size: 16px;

    }

    .logo-email{
        width: 16px;
        height: 16px;
    }
    
    .card-email{
        height: 30px;
        background: #ffc62a;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        padding-top: 12px;
    }
    

 }
